:host
  display block

metal-button
  --metal-button-text-align start
  --metal-button-background var(--metal-accordion-button-background, var(--metal-color-ground--90))
  --metal-button-background--hover var(--metal-accordion-button-background--hover, var(--metal-color-ground--80))
  --metal-button-background--active var(--metal-accordion-button-background--active, var(--metal-color-ground--80))
  --metal-button-color var(--metal-accordion-button-color, var(--metal-color-typography--10))
  --metal-button-border-radius 0
  display block

metal-button[data-opened]
  --metal-button-text-align start
  --metal-button-background var(--metal-accordion-button-background--open, var(--metal-button-background--active, var(--metal-color-ground--90)))
  --metal-button-color var(--metal-accordion-button-color--open, var(--metal-button-color--active, var(--metal-color-typography--10)))

#slotContainer
  display none

.container
  box-sizing border-box
  width 100%
  max-height var(--container-height, 0)
  background var(--metal-accordion-item-background, var(--metal-color-ground--90))
  margin-bottom var(--metal-accordion-item-margin-bottom, var(--metal-size--1))
  overflow hidden
  transition max-height 0.2s ease-out

.container > *
  padding var(--metal-accordion-item-padding, var(--metal-size--4))  