:host
  display block

.container
  background var(--metal-accordion-container-background, var(--metal-color-light--100))
  border-color var(--metal-accordion-container-border-color, var(--metal-color-dark--100))
  border-width var(--metal-accordion-container-border-color, var(--metal-border--2))
  border-style solid
  margin-bottom var(--metal-accordion-container-margin, var(--metal-size--3))

metal-button
  display block
  --metal-button-text-align var(--metal-accordion-button-text-align, start)
  --metal-button-height var(--metal-accordion-button-height, var(--metal-size--9))
  --metal-button-border-radius var(--metal-accordion-button-border-radius, var(--metal-border-radius--1))

  --metal-button-background var(--metal-accordion-button-background, var(--metal-color-light--100))
  --metal-button-color var(--metal-accordion-button-color, var(--metal-color-dark--80))
  --metal-button-border-color var(--metal-accordion-button-border-color, var(--metal-color-dark--80))
  --metal-button-border-width var(--metal-accordion-button-border-width, 0)

  --metal-button-background--hover var(--metal-accordion-button-background--hover, var(--metal-color-dark--10))
  --metal-button-color--hover var(--metal-accordion-button-color--hover, var(--metal-color-dark--80))
  --metal-button-border-color--hover var(--metal-accordion-button-border-color--hover, var(--metal-color-dark--80))
  --metal-button-border-width--hover var(--metal-accordion-button-border-width--hover, var(--metal-border--2))

  --metal-button-background--active var(--metal-accordion-button-background--active, var(--metal-color-dark--20))
  --metal-button-color--active var(--metal-accordion-button-color--active, var(--metal-color-dark--80))
  --metal-button-border-color--active var(--metal-accordion-button-border-color--active, var(--metal-color-dark--80))
  --metal-button-border-width--active var(--metal-accordion-button-border-width--active, var(--metal-border--2))

  &[data-opened]
    --metal-button-background var(--metal-accordion-button-background--selected, var(--metal-color-dark--10))
    --metal-button-color var(--metal-accordion-button-color--selected, var(--metal-color-dark--80))
    --metal-button-border-color var(--metal-accordion-button-border-color--selected, var(--metal-color-dark--80))
    --metal-button-border-width var(--metal-accordion-button-border-width--selected, 0)

.item
  width 100%
  margin 0
  max-height var(--container-height, 0)
  background var(--metal-accordion-item-background, var(--metal-color-ground--90))
  color var(--metal-accordion-item-color, var(--metal-color-typography--10))
  transition max-height 0.2s ease-out
  overflow hidden

.item > *
  padding var(--metal-accordion-container-padding, var(--metal-size--4))
  font-family var(--metal-accordion-font-family, var(--metal-typo-b1-font-family))
  font-weight var(--metal-accordion-font-weight, var(--metal-typo-b1-font-weight))
  font-size var(--metal-accordion-font-size, var(--metal-typo-b2-font-size))

#slotContainer
  display none