:host
  display flex
  align-items center
  cursor pointer
  outline none

metal-button
  --metal-button-background var(--metal-checkbox-background, transparent)
  --metal-button-background--active var(--metal-checkbox-background--active, transparent)
  --metal-button-background--focus var(--metal-checkbox-background--focus, transparent)
  --metal-button-background--hover var(--metal-checkbox-background--hover, transparent)
  --metal-button-background--disabled var(--metal-checkbox-background--disabled, transparent)
  --metal-button-color var(--metal-checkbox-color, var(--metal-color-typography--20))
  --metal-button-color--active var(--metal-checkbox-color--active, var(--metal-color-typography--20))
  --metal-button-color--focus var(--metal-checkbox-color--focus, var(--metal-color-typography--20))
  --metal-button-color--hover var(--metal-checkbox-color--hover, var(--metal-color-typography--20))
  --metal-button-color--disabled var(--metal-checkbox-color--disabled, var(--metal-color-typography--20))
  --metal-button-border-color var(--metal-checkbox-border-color, var(--metal-color-typography--20))
  --metal-button-border-radius--no-label var(--metal-checkbox-border-radius, var(--metal-border-radius--1))
  --metal-button-border-width var(--metal-checkbox-border-width, 0)
  display flex
  align-items center
  justify-content center
  padding 0

label
  padding-left var(--metal-checkbox-label-padding, var(--metal-size--2))
  user-select none
  cursor pointer
  color var(--metal-checkbox-color, var(--metal-color-typography))