html, body {
  --metal-font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe  =I Symbol";

  --metal-font-weight-base: 200;
  --metal-font-weight--1: calc( var(--metal-font-weight-base) * 1);
  --metal-font-weight--2: calc( var(--metal-font-weight-base) * 2);
  --metal-font-weight--3: calc( var(--metal-font-weight-base) * 3);
  --metal-font-weight--4: calc( var(--metal-font-weight-base) * 4);

  --metal-font-size--body-1: 0.5rem;
  --metal-font-size--body-2: 0.8rem;
  --metal-font-size--body-3: 1rem;
  --metal-font-size--body-4: 1.15rem;
  --metal-font-size--body-5: 1.4rem;

  --metal-font-size--header-1: 1.9rem;
  --metal-font-size--header-2: 2.3rem;
  --metal-font-size--header-3: 3rem;
  --metal-font-size--header-4: 4rem;
  --metal-font-size--header-5: 5rem;
  
}