html, body {
  --metal-size-base: 4px;

  --metal-size--1: calc( var(--metal-size-base) * 1);
  --metal-size--2: calc( var(--metal-size-base) * 2);
  --metal-size--3: calc( var(--metal-size-base) * 3);
  --metal-size--4: calc( var(--metal-size-base) * 4);
  --metal-size--5: calc( var(--metal-size-base) * 5);
  --metal-size--6: calc( var(--metal-size-base) * 6);
  --metal-size--7: calc( var(--metal-size-base) * 8);
  --metal-size--8: calc( var(--metal-size-base) * 10);
  --metal-size--9: calc( var(--metal-size-base) * 12);
  --metal-size--10: calc( var(--metal-size-base) * 16);
  --metal-size--11: calc( var(--metal-size-base) * 20);
  --metal-size--12: calc( var(--metal-size-base) * 24);
  --metal-size--13: calc( var(--metal-size-base) * 32);
  --metal-size--14: calc( var(--metal-size-base) * 64);
  --metal-size--15: calc( var(--metal-size-base) * 96);
  --metal-size--16: calc( var(--metal-size-base) * 128);
  --metal-size--17: calc( var(--metal-size-base) * 192);
  --metal-size--18: calc( var(--metal-size-base) * 256);
  --metal-size--19: calc( var(--metal-size-base) * 320);
  --metal-size--20: calc( var(--metal-size-base) * 360);
  --metal-size--21: calc( var(--metal-size-base) * 400);
  --metal-size--22: calc( var(--metal-size-base) * 480);

}