html,
body {
  --metal-color-main--100: #00dde0;
  --metal-color-main--90: #19e0e3;
  --metal-color-main--80: #33e3e6;
  --metal-color-main--70: #4ce7e9;
  --metal-color-main--60: #66eaec;
  --metal-color-main--50: #7feeef;
  --metal-color-main--40: #99f1f2;
  --metal-color-main--30: #b2f4f5;
  --metal-color-main--20: #ccf8f8;
  --metal-color-main--10: #e5fbfb;
  --metal-color-highlight--100: #db0179;
  --metal-color-highlight--90: #de1a86;
  --metal-color-highlight--80: #e23393;
  --metal-color-highlight--70: #e54da1;
  --metal-color-highlight--60: #e966ae;
  --metal-color-highlight--50: #ed80bc;
  --metal-color-highlight--40: #f099c9;
  --metal-color-highlight--30: #f4b2d6;
  --metal-color-highlight--20: #f7cce4;
  --metal-color-highlight--10: #fbe5f1;
  --metal-color-dark--100: #000;
  --metal-color-dark--90: #191919;
  --metal-color-dark--80: #333;
  --metal-color-dark--70: #4c4c4c;
  --metal-color-dark--60: #666;
  --metal-color-dark--50: #7f7f7f;
  --metal-color-dark--40: #999;
  --metal-color-dark--30: #b2b2b2;
  --metal-color-dark--20: #ccc;
  --metal-color-dark--10: #e5e5e5;
  --metal-color-light--100: #fff;
  --metal-color-light--90: rgba(255,255,255,0.9);
  --metal-color-light--80: rgba(255,255,255,0.8);
  --metal-color-light--70: rgba(255,255,255,0.7);
  --metal-color-light--60: rgba(255,255,255,0.6);
  --metal-color-light--50: rgba(255,255,255,0.5);
  --metal-color-light--40: rgba(255,255,255,0.4);
  --metal-color-light--30: rgba(255,255,255,0.3);
  --metal-color-light--20: rgba(255,255,255,0.2);
  --metal-color-light--10: rgba(255,255,255,0.1);
}
