--metal-color-main = #00DDE0
--metal-color-highlight = #DB0179
--metal-color-dark = #000000
--metal-color-light = #ffffff


html, body
  --metal-color-main--100 tint(--metal-color-main, 0%)
  --metal-color-main--90 tint(--metal-color-main, 10%)
  --metal-color-main--80 tint(--metal-color-main, 20%)
  --metal-color-main--70 tint(--metal-color-main, 30%)
  --metal-color-main--60 tint(--metal-color-main, 40%)
  --metal-color-main--50 tint(--metal-color-main, 50%)
  --metal-color-main--40 tint(--metal-color-main, 60%)
  --metal-color-main--30 tint(--metal-color-main, 70%)
  --metal-color-main--20 tint(--metal-color-main, 80%)
  --metal-color-main--10 tint(--metal-color-main, 90%)

  --metal-color-highlight--100 tint(--metal-color-highlight, 0%)
  --metal-color-highlight--90 tint(--metal-color-highlight, 10%)
  --metal-color-highlight--80 tint(--metal-color-highlight, 20%)
  --metal-color-highlight--70 tint(--metal-color-highlight, 30%)
  --metal-color-highlight--60 tint(--metal-color-highlight, 40%)
  --metal-color-highlight--50 tint(--metal-color-highlight, 50%)
  --metal-color-highlight--40 tint(--metal-color-highlight, 60%)
  --metal-color-highlight--30 tint(--metal-color-highlight, 70%)
  --metal-color-highlight--20 tint(--metal-color-highlight, 80%)
  --metal-color-highlight--10 tint(--metal-color-highlight, 90%)

  --metal-color-dark--100 tint(--metal-color-dark, 0%)
  --metal-color-dark--90 tint(--metal-color-dark, 10%)
  --metal-color-dark--80 tint(--metal-color-dark, 20%)
  --metal-color-dark--70 tint(--metal-color-dark, 30%)
  --metal-color-dark--60 tint(--metal-color-dark, 40%)
  --metal-color-dark--50 tint(--metal-color-dark, 50%)
  --metal-color-dark--40 tint(--metal-color-dark, 60%)
  --metal-color-dark--30 tint(--metal-color-dark, 70%)
  --metal-color-dark--20 tint(--metal-color-dark, 80%)
  --metal-color-dark--10 tint(--metal-color-dark, 90%)

  --metal-color-light--100 rgba(--metal-color-light, 100%)
  --metal-color-light--90 rgba(--metal-color-light, 90%)
  --metal-color-light--80 rgba(--metal-color-light, 80%)
  --metal-color-light--70 rgba(--metal-color-light, 70%)
  --metal-color-light--60 rgba(--metal-color-light, 60%)
  --metal-color-light--50 rgba(--metal-color-light, 50%)
  --metal-color-light--40 rgba(--metal-color-light, 40%)
  --metal-color-light--30 rgba(--metal-color-light, 30%)
  --metal-color-light--20 rgba(--metal-color-light, 20%)
  --metal-color-light--10 rgba(--metal-color-light, 10%)