@import '../metal-styles/reset'
@import '../metal-styles/text-styles'

:host
  display inline-block
  height var(--metal-button-height, var(--metal-size--9))
  vertical-align middle

  cursor pointer
  user-select none
  -webkit-user-select none
  outline none

  background var(--metal-button-background, var(--metal-color-main--100))
  color var(--metal-button-color, var(--metal-color-light--100))

  border-width var(--metal-button-border-width, var(--metal-border--2))
  border-style var(--metal-button-border-style, solid)
  border-color var(--metal-button-border-color, var(--metal-color-main--100))
  border-radius var(--metal-button-border-radius, var(--metal-border-radius--1))

  text-align var(--metal-button-text-align, center)

  box-shadow: var(--metal-button-box-shadow, var(--metal-box-shadow--0))

  transition-duration var(--metal-button-transition-duration, var(--metal-transition-duration))
  transition-timing-function var(--metal-button-transition-timing-function, var(--metal-transition-timing-function))
  transition-property background, color, border-color

  > div
    width 100%
    height 100%
    position relative

    &:after
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      content ''
      z-index 1

:host(:hover)
  background var(--metal-button-background--hover, var(--metal-color-main--80))
  color var(--metal-button-color--hover, var(--metal-color-light--100))
  border-color var(--metal-button-border-color--hover, var(--metal-color-main--100))

:host(:active)
  background var(--metal-button-background--active, var(--metal-color-light--100))
  color var(--metal-button-color--active, var(--metal-color-main--100))
  border-color var(--metal-button-border-color--active, var(--metal-color-main--100))

:host(:not([disabled]):focus)
  box-shadow var(--metal-button-box-shadow--focus, var(--metal-box-shadow--0))

:host([disabled])
  cursor default
  pointer-events none

  button
    background var(--metal-button-background--disabled, var(--metal-color-main--60))
    color var(--metal-button-color--disabled, var(--metal-color-light--70))
    border-color var(--metal-button-border-color--disabled, var(--metal-color-main--60))
    box-shadow: var(--metal-button-box-shadow-disabled, var(--metal-box-shadow--0))

button
  metal-text-reset()
  font-family var(--metal-button-font-family, var(--metal-text-h6-font-family))
  font-size var(--metal-button-font-size, var(--metal-text-h6-font-size))
  font-weight var(--metal-button-font-weight, var(--metal-text-h6-font-weight))
  line-height var(--metal-button-line-height, var(--metal-text-h6-line-height))

  width 100%
  height 100%
  background inherit
  color inherit
  text-align inherit
  border 0

  display flex
  justify-content center
  align-items center
  margin 0
  padding var(--metal-button-padding, 0 var(--metal-size--4))
  
  cursor inherit
  user-select inherit
  outline inherit

  &[data-icon]
    min-width var(--metal-button-height, var(--metal-size--9))
    border-radius var(--metal-button-border-radius, 50%)
    padding 0

span 
  flex 1
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

span:not([hidden]) + metal-icon
  padding-left var(--metal-size--4)

metal-icon 
  flex none