@import '../metal-styles/reset'
@import '../metal-styles/text-styles'

:host
  metal-text-reset()
  display inline
  font-family 'Material Icons', sans-serif
  font-weight normal
  font-style normal
  display inline-block
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  color inherit
  font-size inherit
  line-height inherit
  vertical-align middle
  font-feature-settings 'liga'