:host 
  display inline-block
  height var(--metal-icon-size, var(--metal-size--5))
  width var(--metal-icon-size, var(--metal-size--5))

svg 
  height 100%
  width 100%

g 
  stroke var(--metal-icon-color, var(--metal-color-typography--50))
  fill none