:host
  display block
  padding var(--metal-page-margin, var(--metal-size--6))

::slotted(h1)
  margin-bottom var(--metal-page-margin, var(--metal-size--6))

main 
  padding var(--metal-page-margin, var(--metal-size--6))

footer
  padding-top var(--metal-page-margin, var(--metal-size--6))
  padding-bottom var(--metal-page-margin, var(--metal-size--7))