@import '../metal-styles/reset'
@import '../metal-styles/typo/reset/mixin'

:host
  display inline-block
  height var(--metal-input-height, var(--metal-size--9))
  vertical-align middle
  outline none
  position relative
  margin-top var(--metal-size--4)


:host([disabled])
  opacity 0.5
  pointer-events none
  user-select none
  cursor default

input
  metal-typo-reset()
  font-family var(--metal-input-font-family, var(--metal-typo-b1-font-family))
  font-size var(--metal-input-font-size, var(--metal-typo-b1-font-size))
  font-weight var(--metal-input-font-weight, var(--metal-typo-b1-font-weight))
  line-height 1

  background var(--metal-input-background, var(--metal-color-light--90))
  color var(--metal-input-color, var(--metal-color-dark--100))
  box-shadow: var(--metal-input-box-shadow, var(--metal-box-shadow--0))

  border-width var(--metal-input-border-width, var(--metal-border--2))
  border-style var(--metal-input-border-style, solid)
  border-color var(--metal-input-border-color, var(--metal-color-dark--70))
  border-radius var(--metal-input-border-radius, var(--metal-border-radius--1))

  padding var(--metal-input-padding, 0 var(--metal-size--4))

  width 100%
  height 100%
  outline none
  border-radius 0
  display block 

  transition-duration var(--metal-input-transition-duration, var(--metal-transition-duration))
  transition-timing-function var(--metal-input-transition-timing-function, var(--metal-transition-timing-function))
  transition-property background, color, border-color

input:focus
  border-width var(--metal-input-border-width--focus, var(--metal-border--2))
  border-style var(--metal-input-border-style--focus, solid)
  border-color var(--metal-input-border-color--focus, var(--metal-color-dark--90))
  border-radius var(--metal-input-border-radius--focus, var(--metal-border-radius--1))
  box-shadow var(--metal-input-box-shadow--focus, var(--metal-box-shadow--3))

input:disabled
  background var(--metal-input-background--disabled, var(--metal-color-light--90))
  color var(--metal-input-color--disabled, var(--metal-color-light--70))
  border-color var(--metal-input-border-color--disabled, var(--metal-color-dark--30))
  box-shadow: var(--metal-input-box-shadow-disabled, var(--metal-box-shadow--0))
  cursor default

#placeholder
  position absolute
  top 0
  height 100%
  width 100%
  display flex
  align-items center
  color var(--metal-input-placeholder-color, var(--metal-color-dark--50))
  user-select none
  pointer-events none
  transform-origin 0 0
  transform none
  font-family var(--metal-input-placeholder-font-family, var(--metal-typo-c1-font-family))
  font-size var(--metal-input-placeholder-font-size, var(--metal-typo-b1-font-size))
  font-weight var(--metal-input-placeholder-font-weight, var(--metal-typo-c1-font-weight))
  left var(--metal-input-padding, var(--metal-size--4))
  transition-duration var(--metal-input-label-transition-duration, var(--metal-transition-duration))
  transition-timing-function var(--metal-input-label-transition-timing-function, var(--metal-transition-timing-function))
  transition-property transform

input:not([value='']) + #placeholder 
  transform scale(0.75) translateY(-46px)
  color var(--metal-input-placeholder-color--enabled, var(--metal-color-dark--50))

:host([invalid]) input
  border-color var(--metal-input-border-color--invalid, var(--metal-color-highlight--100))

:host([invalid]) input:not([value='']) + #placeholder
  color var(--metal-input-placeholder-color--invalid, var(--metal-color-highlight--100))